<div class="search-wrapper">
  <form [formGroup]="form" class="search-container" [class.has-error]="isInvalid">
    <input
      type="text"
      class="search-input"
      [class.is-invalid]="isInvalid"
      placeholder="Digite o CEP..."
      mask="00000-000"
      aria-label="CEP"
      formControlName="cep"
      (keyup.enter)="onSearch()"
    />
    <button *ngIf="hasValue" 
      class="clear-button" 
      type="button" 
      (click)="clearInput()" 
      data-toggle="tooltip" 
      data-placement="bottom" 
      title="Limpar"
      aria-label="Limpar campo de CEP">
      <i class="bi bi-x-lg" aria-hidden="true"></i>
    </button>
    <button class="search-button" 
      *ngIf="hasValue" 
      type="button" 
      (click)="onSearch()" 
      data-toggle="tooltip" 
      data-placement="bottom" 
      title="Buscar"
      aria-label="Buscar endereço">
      <i class="bi bi-search" aria-hidden="true"></i>
    </button>
  </form>

  <div class="invalid-feedback" *ngIf="isInvalid">
    CEP inválido.
  </div>

  <small class="form-text text-muted mt-2" *ngIf="!isInvalid">
    Digite apenas números
  </small>
</div>
