.toast-container {
  position: fixed !important;
  top: 1rem !important;
  right: 1rem !important;
  z-index: 1050;
}

.toast {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  transform: translateX(100%);
  min-width: 300px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  visibility: hidden;

  &.show {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }

  &.hide {
    opacity: 0;
    transform: translateX(100%);
    visibility: hidden;
  }
}
